body {
  height: auto;
  margin: 0%;
}
header h1 {
  background-color: dimgray;
  margin: 0%;
  padding: 20px 125px 20px;
  color: white;
  text-align: right;
}
#navigate {
  position: sticky;
  top: 0%;
  z-index: 1;
}
.menu {
  margin: 0%;
  background: #999797;
}
.menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu li {
  padding: 10px;
  display: inline-block;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.menu li:nth-child(2):hover #Dropdown_1,
.menu li:nth-child(3):hover #Dropdown_2 {
  display: block;
}
#Dropdown_1,
#Dropdown_2 {
  position: absolute;
  width: auto;
  max-width: 150px;
  display: none;
  top: 42.5px;
  background-color: whitesmoke;
  padding: 0%;
}
#Dropdown_1 li,
#Dropdown_2 li {
  display: block;
}
#Dropdown_1 li:hover,
#Dropdown_2 li:hover {
  background-color: gainsboro;
}
#Dropdown_1 li a,
#Dropdown_2 li a {
  color: steelblue;
  font-size: 16px;
}

#copyright-text {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

#offer-banner {
  border: steelblue solid 2px;
  margin: 2px;
}
#banner-wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

#banner-wrapper img {
  width: 100%;
  max-height: 400px;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

#covid-care-section {
  padding: 20px;
}

#diabetes-care-section {
  padding: 20px;
  margin-bottom: 50px;
}
#products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  box-shadow: 5px 5px 30px grey;
  background: #c3c3f142;
  border-radius: 4px;
  padding: 7px;
  margin: 10px;
}

.product-item:hover {
  transform: scale(1.1);
}

.product-item h2 {
  margin: 0;
  font-size: 18px;
}

.product-item p {
  margin: 2px 0;
  color: #6666d5;
}

.product-item img {
  width: 200px;
  height: 100px;
}

.product-item button {
  width: 100%;
  border-radius: 5px;
  border: 1px solid blue;
  background: #0000ff12;
  color: orange;
  font-weight: bold;
  padding: 3px;
}

.product-item button:focus-within {
  background: rgb(250, 234, 230);
  border: rgb(0, 255, 76) solid 1px;
}
