#form-lab-test {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
}
#form-wrapper {
  height: 400px;
  width: 100%;
  /* background: yellow; */
  margin: 20px 0 10px;
  box-shadow: 5px 5px 20px 3px grey;
  display: flex;
  overflow-y: auto;
}
#lab-test-image-section {
  width: 50%;
  position: absolute;
  right: 0;
  height: inherit;
}
#lab-test-image-section img {
  height: 100%;
  width: 98%;
}

#lab-test-form {
  padding: 10px;
  width: 50%;
}
.form-group {
  text-align: left;
  padding: 0 20px;
}
.form-group label {
  font-weight: bold;
}
.form-group select {
  padding: 5px;
}
.form-group input {
  width: 40%;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.form-group-checkbox {
  text-align: left;
  padding: 0 20px;
}
#message {
  font-size: 15px;
  font-weight: 100;
}

#form-button {
  margin-top: 15px;
  margin-right: 200px;
}
#form-button button {
  margin-right: 24px;
  background: #c458d7ed;
  color: white;
  border: none;
  padding: 2px 13px;
  border-radius: 2px;
}
